<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PriceWatcher - Jót, olcsóbban, könyebben...</title>

    {% include 'html_dependencies.jinja2' %}

</head>
<body>
<nav class="navbar navbar-expand-sm navbar-light bg-warning fixed top">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav-content"
            aria-controls="nav-content" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Brand -->
    <a class="navbar-brand" href="/">PriceWatcher</a>

    <!-- Links -->
    <div class="collapse navbar-collapse justify-cotent center" id="nav-content">
        <ul class="navbar-nav">
            <li class="active">
                <a class="nav-link" href="{{ url_for("stores.index") }}"><i class="fa fa-shopping-cart"></i>&nbsp&nbspWebáruházak</a></span>
            </li>
            {% if session['email'] %}
                <li class="active ">
                    <a class="nav-link" href="{{ url_for("users.user_alerts") }}"><i class="fa fa-tag"></i>&nbsp&nbspÉrtesítéseid</a>
                </li>
                <li class="active ">
                    <a class="nav-link" href="{{ url_for("users.logout_user") }}"><i class="fa fa-sign-out"></i>&nbsp&nbspKijelentkezés</a>
                </li>
            {% else %}

                <li class="active ">
                    <a class="nav-link" href="{{ url_for("users.register_user") }}"><i class="fa fa-database"></i>&nbsp&nbspRegisztráció</a>
                </li>
                <li class="active ">
                    <a class="nav-link" href={{ url_for("users.login_user") }}><i class="fa fa-sign-in"></i>&nbsp&nbspBejelentkezés</a>
                </li>
                </ul>
            {% endif %}

    </div>
</nav>

<div class="container">
    <br>
    <br>
    <br>
    {% block content %}


    {% endblock %}
</div>
</body>
</html>