.form-size
{
    max-width: 600px;
    margin: 0 auto;
    background-color: grey;
    padding:5px;
    border:3px solid black;

}
.form-control
{
        background-color: grey;
    padding:5px;
}
.form-group
{
        background-color: grey;
    padding:5px;
}

p{
    font-family: Lato;
    font-size:20px;
}
#btn1, #btn2, #btn3
{
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

div, p
{
    font-family: Lato;
}