{% extends "base.jinja2" %}
{% block content %}

    <div class="page-header">
        <h1>Értesítés:
            <small>{{ alert.item.name }}</small>
        </h1>
    </div>
    <p>Utoljára lekérdezett ár: <strong>{{ alert.price_for_alertshow() }}</strong></p>
    <p>Utolsó frissítés dátuma: <strong>{{ alert.last_checked.strftime("%G-%m-%d, %H:%M") }}</strong></p>
    <div class="panel panel-default">
        <a class="btn btn-info" href="{{ alert.item.url }}" role="button"><i class="fa fa-external-link"></i>&nbspA
            webáruházba</a>
    <br><br>
    <a class="btn btn-warning" href="{{ url_for('alerts.edit_alert', alert_id = alert._id) }}" role="button">Értesítés szerkesztése</a>
    <br><br>
        {% if alert.active %}
            <a class="btn btn-secondary" href="{{ url_for('alerts.deactivate_alert', alert_id = alert._id) }}" id="btn1"
               role="button"><i
                    class="fa fa-times"></i>&nbspÉrtesítés letiltása</a>
            <br><br>
            <a class="btn btn-danger" href="{{ url_for('alerts.delete_alert', alert_id = alert._id) }}" id="btn1"
               role="button"><i class="fa fa-minus"></i>&nbspÉrtesítés törlése</a>
            <br><br>

        {% else %}
            <a class="btn btn-success" href="{{ url_for('alerts.activate_alert', alert_id = alert._id) }}" id="btn2"
               role="button"><i class="fa fa-check"></i>&nbspÉrtesítés aktiválása</a>
            <br><br>
        {% endif %}
        <a class="btn btn-primary" href="{{ url_for('alerts.check_alert_price', alert_id = alert._id) }}" id="btn3"
           role="button"><i
                class="fa fa-download"></i>&nbspÁrellenőrzés</a>
    <br><br>
    </div>

{% endblock %}