{% extends "base.jinja2" %}
{% block content %}

    <div class="page-header">
        <h2><strong>{{ store.name }}</strong>

        </h2>
    </div>
    <p>Minden URL ebben a webáruházban <strong>{{ store.url_prefix }}</strong>&nbspprefix-el kezdődik.</p>
    <div class="panel panel default">
        {% if session['email'] in config.ADMINS %}
            <div class="panel-body">
                <a class="btn btn-warning" href="{{ url_for('stores.edit_store', store_id=store._id) }}" role="button">Webáruház
                    szerkesztése</a>
                <br><br>
                <a class="btn btn-danger" href="{{ url_for('stores.delete_store', store_id=store._id) }}" role="button">Webáruház
                    törlése</a>
            </div>
        {% endif %}
    </div>
{% endblock %}